.btn {
    display: inline-block;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    padding: 0.8rem;
    margin: 0.8rem;
    cursor: pointer;

    &.cta {
        border: 2px solid var(--color-secondary);
        color: var(--color-secondary);

        transition: all 0.5s;

        &:hover {
            border: 2px solid var(--color-secondary);
            background-color: var(--color-secondary);
            color: var(--color-bg-light);

            transition: all 0.5s;
        }
    }
}