@if(tournament) {
  <div class="tournament-detail">
    <h2 class="title">{{ tournament.name }}</h2>
    <div class="info">
      <p><strong>Lieu:</strong> {{ tournament.place || 'Non défini' }}</p>
      <p><strong>Joueurs inscrits:</strong> {{ tournament.nbPlayers || 0 }} / {{ tournament.maxPlayers }}</p>
      <p><strong>Catégories:</strong></p>
      @if(tournament.categories && tournament.categories.length) {
      <ul>
        @for(category of tournament.categories; track category.id) {
        <li>{{ category.name }}</li>
        }
      </ul>
      }
      <p><strong>Inscription ouverte jusqu'à:</strong> 
        @if(tournament.endRegistration > today) {
          Inscription terminée
        } 
        @else {
          @if(tournament.nbPlayers) {
            @if(tournament.maxPlayers <= tournament.nbPlayers) {
              Tournoi complet
            } @else {
              {{ tournament.endRegistration | date : 'dd/MM/yyyy HH:mm' }}
            }
          }
        }
      </p>
    </div>

    <div class="buttons">
      @if(tournament.canRegister && !tournament.isRegistered && !isBtnLoading) {
        <a class="btn" (click)="register()">S'inscrire</a>
      }
  
      @if(tournament.isRegistered && !isBtnLoading) {
        <a class="btn" (click)="unregister()">Se désinscrire</a>
      }
  
      @if(isBtnLoading) {
        <app-spinner></app-spinner>
      }
  
      @if(tournament.minPlayers && tournament.nbPlayers) {
        @if(isAdmin && tournament.endRegistration <= today && tournament.minPlayers >= tournament.nbPlayers) {
          <a class="btn" (click)="startTournament()">Démarrer le tournoi</a>
        }
      }
    </div>

    @if(!isStarted) {
      <div class="players">
        @if(tournament.players && tournament.players.length) {
          <h3>Joueurs inscrits</h3>
          <app-list-player [players]="tournament.players"></app-list-player>
        }
      </div>
    } @else {
      <div class="nav-round">
        <ul>
          <li class="ranking">Classement</li>
          @for(item of fakeArray; track $index) {
            <li>Round {{ $index + 1 }}</li>
          }
        </ul>
      </div>
    }
  </div>
}
