:root {
    --color-bg-light: #FAFAFA;
    --color-bg-dark: #1A202C;
    --color-text: #333333;
    --color-primary: #A8DADC;
    --color-secondary: #E63946;

    --typo-title: 'Monsieur La Doulaise', cursive;
    --typo-heading: 'Poppins', sans-serif;
    --typo-text: 'Roboto', sans-serif;
    --typo-btn: 'Poppins', sans-serif;
}