<div class="home">

    <h2>CheckMate</h2>

    @if(isAuthenticated) {
        <div class="hero">
            <h3>Agrandissons la communauté</h3>
            <p>Invite ta famille, tes amis, tes connaissances, tes collègues, etc. et agrandissons ensemble la communauté.</p>
            <p>Comme on dit : plus on est de fous, plus on rit</p>
            <a routerLink="/auth/invite" class="btn cta" >Invitez</a>
        </div> 
    }

    @if(tournaments.length > 0){
        <div class="last-tournaments">
            <h3>Nos derniers tournois</h3>
            <div class="cards-container">
                @for(tournament of tournaments; track tournament.id) {
                    <div class="tournament-card">
                        <h4>{{ tournament.name }}</h4>
                        <p>Fin d'inscription : {{ tournament.endRegistration }}</p>
                        <p>Elo : entre {{ tournament.minElo }} et {{ tournament.maxElo }}</p>
                        <p>Joueurs : entre {{ tournament.minPlayers }} et {{ tournament.maxPlayers }}</p>

                        @if(isAuthenticated && tournament.canRegister && !tournament.isRegistered) {
                            <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                        }

                        @if(isAuthenticated && tournament.isRegistered) {
                            <a class="btn" routerLink="/unregister" routerLinkActive="active">Désinscrivez-vous</a>
                        }
                    </div>
                }
            </div>
        </div>
    }
    
</div>