<div class="home">
    <h2>CheckMate</h2>
    <div class="hero">
        <h3>Rejoignez-nous</h3>
        <p>Rejoignez notre club CheckMate <br>et<br> participez à nos tournois de folie !</p>
        <a class="btn cta" routerLink="/login" routerLinkActive="active">S'inscrire</a>
    </div>
    <div class="last-tournaments">
        <h3>Nos derniers tournois</h3>
        <div class="cards-container">
            <div class="tournament-card">
                <h4>Tournoi 1</h4>
                <p>Fin d'inscription :</p>
                <p>Elo : entre Y et Y</p>
                <p>Joueurs : entre X et X</p>
                @if(isAuthenticated) {
                    <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                }
                
            </div>
            <div class="tournament-card">
                <h4>Tournoi 2</h4>
                <p>Fin d'inscription :</p>
                <p>Elo : entre Y et Y</p>
                <p>Joueurs : entre X et X</p>
                @if(isAuthenticated) {
                    <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                }
            </div>
            <div class="tournament-card">
                <h4>Tournoi 3</h4>
                <p>Fin d'inscription :</p>
                <p>Elo : entre Y et Y</p>
                <p>Joueurs : entre X et X</p>
                @if(isAuthenticated) {
                    <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                }
            </div>
        </div>
    </div>
    
</div>