<div class="home">

    <h2>CheckMate</h2>

    @if(isAuthenticated) {
        <div class="hero">
            <h3>Agrandissons la communauté</h3>
            <p>Invite ta famille, tes amis, tes connaissances, tes collègues, etc. et agrandissons ensemble la communauté.</p>
            <p>Comme on dit : plus on est de fous, plus on rit</p>
            <a routerLink="/auth/invite" class="btn cta" >Invitez</a>
        </div> 
    }
    
    <div class="last-tournaments">
        <h3>Nos derniers tournois</h3>
        <div class="cards-container">
            <div class="tournament-card">
                <h4>Tournoi 1</h4>
                <p>Fin d'inscription :</p>
                <p>Elo : entre Y et Y</p>
                <p>Joueurs : entre X et X</p>
                @if(isAuthenticated) {
                    <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                }
                
            </div>
            <div class="tournament-card">
                <h4>Tournoi 2</h4>
                <p>Fin d'inscription :</p>
                <p>Elo : entre Y et Y</p>
                <p>Joueurs : entre X et X</p>
                @if(isAuthenticated) {
                    <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                }
            </div>
            <div class="tournament-card">
                <h4>Tournoi 3</h4>
                <p>Fin d'inscription :</p>
                <p>Elo : entre Y et Y</p>
                <p>Joueurs : entre X et X</p>
                @if(isAuthenticated) {
                    <a class="btn cta" routerLink="/register" routerLinkActive="active">Inscrivez-vous</a>
                }
            </div>
        </div>
    </div>
    
</div>