@if(tournaments.length > 0){
<div class="tournaments">
  <div class="cards-container">
    @for(tournament of tournaments; track tournament.id) {
    <div class="tournament-card">
      <h4>
        <a routerLink="/tournois/detail/{{ tournament.id }}">{{ tournament.name }}</a>
      </h4>
      <div class="text">
        <p>Fin d'inscription : {{ tournament.endRegistration | date : 'dd/MM/yyyy' }}</p>
        <p>ELO : {{ tournament.minElo }} - {{ tournament.maxElo }}</p>
        <p>Inscrits : {{ tournament.nbPlayers }} / {{ tournament.maxPlayers }}</p>
      </div>
    </div>
    }
  </div>
</div>
}
