<!-- @if(control && control.invalid && control.errors && (control.touched || control.dirty) && control.enabled) { -->
    <div class="error">
        {{ control }}
        @if(control.getError('required')) {
            <div>
                Ce champ est obligatoire.
            </div>
        }
        @if(control.getError('minlength')) {
            <div>
                Le nom doit avoir au moins {{ control.getError('minlength').requiredLength }} caractères.
            </div>
        }
        @if(control.getError('maxlength')) {
            <div>
                Le nom doit avoir au plus {{ control.getError('maxlength').requiredLength }} caractères.
            </div>
        }
    </div>
<!-- } -->