<div class="tournament-create">
    <h2>Créer un tournoi</h2>

    <form [formGroup]="createTournamentForm" (ngSubmit)="createTournament()">
        <div class="form-control">
            <label for="name">Nom</label>
            <input type="text" id="name" formControlName="name" required>
            <app-form-error [control]="name"></app-form-error>
        </div>

        <div class="form-control">
            <label for="place">Lieu</label>
            <input type="text" id="place" formControlName="place" required>
        </div>

        <div class="form-control">
            <label for="minPlayers">Nombre de joueurs minimum</label>
            <input type="number" id="minPlayers" formControlName="minPlayers" required>
            <app-form-error [control]="minPlayers"></app-form-error>
        </div>

        <div class="form-control">
            <label for="maxPlayers">Nombre de joueurs maximum</label>
            <input type="number" id="maxPlayers" formControlName="maxPlayers" required>
            <app-form-error [control]="maxPlayers"></app-form-error>
            <div class="error" *ngIf="minPlayers?.touched && maxPlayers?.touched">
                <div *ngIf="createTournamentForm?.hasError('nbPlayers')">
                    Le nombre de joueurs maximum doit être supérieur ou égal au nombre de joueurs minimum.
                </div>
            </div>
        </div>

        <div class="form-control">
            <label for="minElo">Elo minimum</label>
            <input type="number" id="minElo" formControlName="minElo">
            <app-form-error [control]="minElo"></app-form-error>
        </div>

        <div class="form-control">
            <label for="maxElo">Elo maximum</label>
            <input type="number" id="maxElo" formControlName="maxElo">
            <app-form-error [control]="maxElo"></app-form-error>
            
            <div class="error" *ngIf="createTournamentForm?.hasError('elo')">
                {{ createTournamentForm.getError('elo') }}
            </div>
        </div>

        <div class="form-control">
            <label>Catégories</label>
            <div id="categoriesIds" *ngIf="categories.length > 0">
                <div *ngFor="let category of categories; let i = index" class="checkbox-group">
                    <input
                        type="checkbox"
                        [formControl]="getCategoryControl(i)"
                        [value]="category.id"
                        id="category-{{ category.id }}"
                    />
                    <label for="category-{{ category.id }}">{{ category.name }}</label>
                </div>
            </div>
            <!-- TODO : custom validator to check if at least one category is selected -->
        </div>

        <div class="form-control">
            <div class="checkbox-group">
                <input type="checkbox" id="womenOnly" formControlName="womenOnly">
                <label for="womenOnly">Tournoi féminin</label>
            </div>
            <app-form-error [control]="womenOnly"></app-form-error>
        </div>

        <div class="form-control">
            <label for="endRegistration">Fin des inscriptions</label>
            <input type="datetime-local" id="endRegistration" formControlName="endRegistration" required>
            <div class="error" *ngIf="endRegistration?.touched">
                <div class="error" *ngIf="createTournamentForm?.hasError('endRegistration')">
                    {{ createTournamentForm.getError('endRegistration') }}
                </div>
            </div>
        </div>

        <div class="form-control">
            <button [disabled]="createTournamentForm.invalid" type="submit">Créer</button>
        </div>
    </form>
</div>
